body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2c2936,#615d66);
    height: 100vh;
}
h1{
    color:orange ;
}
#container{
    border: 2px solid orange;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    position: relative;
}

#pantalla{
    border: 1px solid rgba(255, 68, 0, 0.555);
    text-align: end;
    padding-right: 10px;
    font-size: 3rem;
    border-radius: 2px;
    margin: 0px;
    padding: 10px;
    background-color: #615d6616;
}

#indicadorOperacion{
    position: absolute;
    font-size: x-large;
    top: 10px;
    left: 20px;
    color: orange;
}

#botonesContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    width: 400px;
    aspect-ratio: 1;
    margin-top: 10px;
    grid-template-areas: 
    "ac dividido por menos"
    " siete ocho nueve mas"
    "cuatro cinco seis mas"
    "uno dos tres igual"
    "c cero punto igual";
}
button{
    font-size:larger ;
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
    transition: 30ms;
    background-color: rgba(255,255,255,0.54);
}
button:hover{
    background-color: rgba(255, 255, 255, 0.792);
}
/*Tipos botones */
#punto{
    grid-area: punto;
}
#cero{
    grid-area: cero;
}
#uno{
    grid-area: uno;
}
#dos{
    grid-area: dos;
}
#tres{
    grid-area: tres;
}
#cuatro{
    grid-area: cuatro;
}
#cinco{
    grid-area: cinco;
}
#seis{
    grid-area: seis;
}
#siete{
    grid-area: siete;
}
#ocho{
    grid-area: ocho;
}
#nueve{
    grid-area: nueve;
}
#mas{
    grid-area: mas;
}
#igual{
    grid-area: igual;
}
#menos{
    grid-area: menos;
}
#por{
    grid-area: por;
}
#dividido{
    grid-area: dividido;
}
#clear{
    grid-area: c;
}
#allclear{
    grid-area: ac;
}
#igual{
    grid-area: igual;
}